
  
  <section class="">
    <h3 class="text-secondary text-center my-5">新着情報</h3>
    {{ partial "latest-posts" . }}
  </section>
  

  <div class="card text-center shadow-sm mb-5">
    <div class="card-body">
      <h5 class="card-title fw-bold mb-2">月謝</h5>
  
      <table class="table table-sm mb-0">
        <tbody>
          <tr>
            <td class="text-start">バイオリン</td>
            <td class="text-end">¥10,000〜</td>
          </tr>
          <tr>
            <td class="text-start">ピアノ</td>
            <td class="text-end">¥9,000〜</td>
          </tr>
          <tr>
            <td class="text-start">幼児音感教室</td>
            <td class="text-end">¥5,000〜</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
<a href="tel:0286551979" class="text-decoration-none">
  <div class="p-3 mb-3 text-white" style="background-color: #5a2e14; max-width: 300px; border-radius: 8px;">
    <h5 class="mb-1" style="font-family: 'Hiragino Mincho ProN', serif;">若松原音楽教室</h5>
    <p class="mb-2" style="font-size: 0.9rem;">宇都宮市若松原3-17-13</p>
    <p class="mb-0" style="font-size: 1.4rem; font-family: 'Georgia', serif;">TEL 028-655-1979</p>
  </div>
</a>
<div class="card-footer bg-white border-0">
  <div class="ratio ratio-4x3">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25657.636781156292!2d139.864296!3d36.500923!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601f5d2f901e8dd3%3A0xac193c9b4d996c3!2z5pel5pys44CB44CSMzIxLTAxMzkg5qCD5pyo55yM5a6H6YO95a6u5biC6Iul5p2-5Y6f77yT5LiB55uu77yR77yX4oiS77yR77yT!5e0!3m2!1sja!2sus!4v1745464082652!5m2!1sja!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>

<hr />

<a href="tel:0286541008" class="text-decoration-none">
  <div class="p-3 text-white" style="background-color: #5a2e14; max-width: 300px; border-radius: 8px;">
    <h5 class="mb-1" style="font-family: 'Hiragino Mincho ProN', serif;">駅前教室</h5>
    <p class="mb-2" style="font-size: 0.9rem;">宇都宮市雀の宮4-2-8</p>
    <p class="mb-0" style="font-size: 1.4rem; font-family: 'Georgia', serif;">TEL 028-654-1008</p>
  </div>
</a>



  <div class="card-footer bg-white border-0">
    <div class="ratio ratio-4x3">
      <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d25659.624549006752!2d139.872534!3d36.494924!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1745448151703!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

  <div>
    <img src="/images/banner/tochinavi.png" alt="とちぎナビ" class="img-fluid mb-3" />
  </div>
