{{ define "main" }}




<div class="text- py-4 border rounded p-3 my-4">
  <h2 class="fw-bold" style="color: #5a2e14; font-family: 'Hiragino Mincho ProN', serif;">
    音楽は心の翼。小さな演奏家たちの第一歩を応援します。
  </h2>
  <div class="d-flex align-items-center">
    <div class="flex-grow-1 me-3" style="color: #5a2e14; font-family: 'Hiragino Mincho ProN', serif; font-size: 1rem;">
      <p class="mb-2">月4回の個人レッスンです。</p>
      <p class="mb-2">いつでも見学を受け付けております。</p>
      <p class="mb-2">オープンな教室ですのでお気軽にお寄りください。</p>
      <p class="mb-0 text-end">亀岡 理枝</p>
    </div>
    <div>
      <img src="images/imgPic.jpg" alt="レッスン風景" style="width: 220px; border-radius: 4px; box-shadow: 2px 2px 5px rgba(0,0,0,0.2);" />
    </div>
  </div>
</div>



<div class="border p-3 my-4">
  <h5 class=" pb-2 mb-3" style="font-family: 'Hiragino Mincho ProN', serif; color: #5a2e14;">
    発表会
  </h5>
  <p class="mb-3" style="font-size: 0.95rem;">
  年に一度の発表会では、一人ひとりが日々の練習の成果を披露します。<br>
  舞台に立つ子どもたちの表情は、真剣そのものです。
</p>
  <div class="row g-3">
    <div class="col-12 col-md-6">
      <img src="images/top/h1.jpg" class="img-fluid rounded shadow-sm" alt="演奏風景1">
    </div>
    <div class="col-12 col-md-6">
      <img src="images/top/h2.jpg" class="img-fluid rounded shadow-sm" alt="演奏風景2">
    </div>
  </div>
</div>

<div class="border p-3 my-4">
  <h5 class="pb-2 mb-3" style="font-family: 'Hiragino Mincho ProN', serif; color: #5a2e14;">
    教室の様子
  </h5>
  <div class="row g-3">
    <div class="col-12 col-md-6">
      <img src="images/top/k1.jpg" class="img-fluid rounded shadow-sm" alt="演奏風景1">
    </div>
    <div class="col-12 col-md-6">
      <img src="images/top/k2.jpg" class="img-fluid rounded shadow-sm" alt="演奏風景2">
    </div>
  </div>
</div>

<div class="border p-3 my-4">
  <h5 class="pb-2 mb-3" style="font-family: 'Hiragino Mincho ProN', serif; color: #5a2e14;">
    三歳児四歳児のキラキラ星
  </h5>
  <p class="mb-3" style="font-size: 0.95rem;">
  初めての舞台、初めての音色。<br>
  小さな手で奏でる「キラキラ星」は、会場全体をやさしい笑顔で包み込みました。
</p>
  <div class="row g-3">
    <div class="col-12 col-md-6">
      <img src="images/top/p1.jpg" class="img-fluid rounded shadow-sm" alt="演奏風景1">
    </div>
    <div class="col-12 col-md-6">
      <img src="images/top/p2.jpg" class="img-fluid rounded shadow-sm" alt="演奏風景2">
    </div>
    <div class="col-12 col-md-6">
      <img src="images/top/p3.jpg" class="img-fluid rounded shadow-sm" alt="演奏風景3">
    </div>
    <div class="col-12 col-md-6">
      <img src="images/top/p4.jpg" class="img-fluid rounded shadow-sm" alt="演奏風景4">
    </div>
  </div>
</div>


{{ end }}