{{ define "main" }}

<div class="d-flex align-items-center border rounded p-3 my-4" style="">
  <div class="flex-grow-1 me-3" style="color: #5a2e14; font-family: 'Hiragino Mincho ProN', serif; font-size: 1rem;">
    <p class="mb-2">月4回の個人レッスンです。</p>
    <p class="mb-2">いつでも見学を受け付けております。</p>
    <p class="mb-2">オープンな教室ですのでお気軽にお寄りください。</p>
    <p class="mb-0">亀岡 理枝</p>
  </div>
  <div>
    <img src="images/imgPic.jpg" alt="レッスン風景" style="width: 220px; border-radius: 4px; box-shadow: 2px 2px 5px rgba(0,0,0,0.2);" />
  </div>
</div>



<div class="border p-3 my-4">
  <h5 class="border-bottom pb-2 mb-3" style="font-family: 'Hiragino Mincho ProN', serif; color: #5a2e14;">
    発表会
  </h5>
  <div class="row g-3">
    <div class="col-12 col-md-6">
      <img src="images/top/h1.jpg" class="img-fluid rounded shadow-sm" alt="演奏風景1">
    </div>
    <div class="col-12 col-md-6">
      <img src="images/top/h2.jpg" class="img-fluid rounded shadow-sm" alt="演奏風景2">
    </div>
  </div>
</div>

<div class="border p-3 my-4">
  <h5 class="border-bottom pb-2 mb-3" style="font-family: 'Hiragino Mincho ProN', serif; color: #5a2e14;">
    教室の様子
  </h5>
  <div class="row g-3">
    <div class="col-12 col-md-6">
      <img src="images/top/k1.jpg" class="img-fluid rounded shadow-sm" alt="演奏風景1">
    </div>
    <div class="col-12 col-md-6">
      <img src="images/top/k2.jpg" class="img-fluid rounded shadow-sm" alt="演奏風景2">
    </div>
  </div>
</div>

<div class="border p-3 my-4">
  <h5 class="border-bottom pb-2 mb-3" style="font-family: 'Hiragino Mincho ProN', serif; color: #5a2e14;">
    三歳児四歳児のキラキラ星
  </h5>
  <div class="row g-3">
    <div class="col-12 col-md-6">
      <img src="images/top/p1.jpg" class="img-fluid rounded shadow-sm" alt="演奏風景1">
    </div>
    <div class="col-12 col-md-6">
      <img src="images/top/p2.jpg" class="img-fluid rounded shadow-sm" alt="演奏風景2">
    </div>
    <div class="col-12 col-md-6">
      <img src="images/top/p3.jpg" class="img-fluid rounded shadow-sm" alt="演奏風景3">
    </div>
    <div class="col-12 col-md-6">
      <img src="images/top/p4.jpg" class="img-fluid rounded shadow-sm" alt="演奏風景4">
    </div>
  </div>
</div>


<!--

<section class="section container my-3">
  <h3 class="text-secondary text-center my-5">新着情報</h3>
  {{ partial "latest-posts" . }}
</section>
<section class="section container my-3">
  <h3 class="text-secondary text-center my-5">Featured Pages</h3>
  {{ partial "featured-pages" . }}
</section>
-->
{{ end }}